*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(0, 132, 253);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin-top: 40px;
}

footer{
    background-color: rgb(51, 51, 51);
}

section{
    padding: 30px 20px;
    margin: 20px 0px;
}

h3{
    margin:20px 0px;
}

p{
    line-height: 1.6em;
}

.flex_end{
    align-items: flex-end;
}

/* layout rules */

.container, .container_500px{
    width: 100%;
    margin: 0 auto;
}

.row, .flex{
    display: flex;
    flex-direction: column;
}

.align_center{
    align-items: center;
}

.space_between{
    justify-content: space-between;
}

.col_30, .col_double, .col_40, .col_50, .col_60, .col_100{
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 20px;
    padding: 25px 20px;
}

.col_80{
    width: 80%;
    margin: 10px;
}

.left_logo, .right_menu{
    margin: 10px 20px;
}

.hamburger, .extended_menu{
    width: 100%;
    height: 100%;
}

.extended_menu{
    display: none;
}

.extended_menu a{
    padding: 0 15px;
    text-decoration: none;
    color: white;
}

.extended_menu a:hover{
    text-decoration: underline;
}

.content{
    padding: 20px;
}

.phone{
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    margin: 0 auto;
}

.text_center{
    text-align: center;
}

.spacing_20{
    margin: 20px 0px;
}
img{
    width: 100%;
}

/* aestetics */

.fake_button{
    background-color: rgb(0, 132, 253);
    padding: 10px 45px;
    border: none;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.no_button{
    background-color: transparent;
    border: none;
}


/* header style */
.hamburger_icon:before{
    color: white;
    font-family: 'FontAwesome';
    content: '\f0c9';
    font-size: 2em;
}

.app_store:before{
    color: white;
    font-family: 'FontAwesome';
    content: '\f179';
    font-size: 1em;
    padding-right: 5px;
}

header .fake_button{
    background-color: white;
    color: black;
    font-weight: 300;
    padding: 10px 15px;
}

/* demo style */

#demo h3{
    color:rgb(0, 132, 253);
}

#demo .col_100 h3{
    margin:20px 0px 0px 0px;
    padding: 0px 10px;
}

#demo p{
    color: rgb(87, 87, 87);
    font-weight: bold;
    font-size: 0.9em;
}

#demo .col_double, #demo .col_100, #demo .col_50{
    background-color: rgb(181, 221, 255);
    padding: 0px 10px;
}

#demo .col_30{
    background-color: rgb(181, 221, 255);
}

.icon{
    color: rgb(0, 132, 253);
    font-family: 'FontAwesome';
    font-size: 5em;
    padding-right: 5px;
}

.code:before{
    content: '\f1c9';
}

.compass:before{
    content: '\f568';
}

.compass:before{
    content: '\f568';
}

.laptop_code:before{
    content: '\f5fc';
}

.bullhorn:before{
    content: '\f0a1';
}

/* planning style */

#planning{
    background-color: rgb(149, 147, 230);
}

#planning h2{
    margin: 40px 0px;
    font-size: 60px ;
}

.left_planning{
    color: white;
    padding: 0px 50px;
}

.left_planning p{
    font-size: 0.9em;
    margin: 20px 0px 0px 0px;
}

.left_planning img{
    width: 100%;
    margin: 60px 0px;
}

.right_planning{
    background-color: white;
    font-weight: 400;
}

.right_planning img{
    width: 70%;
}

.go_down::before{
    font-family: 'FontAwesome';
    content: '\f063';
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    display:block;
    margin-top: 30px;
    padding: 16px 19px;
    background-color: rgb(149, 147, 230);
    border-radius: 50%;
}

/* testimonials style */

#testimonials h2{
    font-size: 30px;
    color: rgb(149, 147, 230);
}

#testimonials .col_100{
    background-color: rgb(149, 147, 230);
}

.circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.circle img{
    object-fit: cover;
}

#testimonials .testimonial_text{
    color: white;
}

#testimonials p{
    font-size: 0.8em ;
    margin-bottom: 20px;
}

#testimonials p:before{
    font-family: 'FontAwesome';
    content: '\f10d';
    font-size: 1.5em;
    vertical-align:text-bottom;
    padding-right: 5px;
    color: white;
}

#testimonials p:after{
    font-family: 'FontAwesome';
    content: '\f10e';
    font-size: 1.5em;
    vertical-align:text-top;
    padding-left: 5px;
    color: white;
}

#testimonials h4{
    margin: 20px 0px;
    text-align: center;
}

#testimonials h2{
    margin: 20px 0px;
}

/* feature style */

#features, .violet{
    background-color: rgb(149, 147, 230);
}

#features .col_30{
    background-color: white;
}

#features h2{
    color: white;
    font-size: 2em;
    margin: 20px 0px;
}

#features h3, .number{
    color: rgb(149, 147, 230);
}

#features p{
    margin-bottom: 20px;
}

.number{
    font-size: 60px;
}

/* about us styke */

#about_us h2, #about_us h3{
    color: rgb(149, 147, 230);
}

#about_us h2, #about_us p{
    margin-bottom: 30px;
}

#about_us h2{
    font-size: 3em;
}

#about_us h3{
    font-size: 1.5em;
}

#about_us p{
    line-height: 2.2rem;
}

#about_us .circle{
    position: relative;
}

.fa-quote-left{
    position: absolute;
    top: -10px;
    right: -20px;
}

.fa-quote-left:before{
    color:rgb(149, 147, 230);
    font-size: 90px;

}

.fake_button_linkedin{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.linkedin::before{
    font-family: 'FontAwesome';
    content: '\f08c';
    color: white;
    padding-right: 5px;
}

/* get started style */

#get_started{
    background-color: rgb(149, 147, 230);
    color:white;
}

#get_started h4{
    font-weight: 200;
}

#get_started h2{
    margin: 20px 10px 0px;
    font-size: 1.7em;
}

.attention{
    color: orange;
    font-size: 65px;
    font-weight: 600;
}

#get_started p{
    margin: 40px 0px;
}

#get_started .fake_button{
    background-color: white;
    color: rgb(149, 147, 230);
    border-radius: 30px;
    padding: 20px 65px;
}

#get_started {
    margin: 20px 0px 0px;
}

.copyright a{
    color: white;
}

/* footer style */

footer section{
    margin: 0;
}

footer{
    color: white;
}

footer a{
    color: rgb(149, 147, 230);
}

/* TABLET */
@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
    }

    .container_500px{
        width: 500px;
    }

    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col_double{
        width: calc(100% / 3 * 2 - 20px);
    }

    .col_30{
        width: calc(100% / 3 - 20px);
    }

    #get_started .row, footer .row{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .phone{
        width: 50%;
    }

    #testimonials .col_100{
        flex-direction: row;
        align-items: center;
    }

    .testimonial_text{
        width: 80%;
        margin: 10px;
    }

    #testimonials .testimonial_text h4{
        text-align: left;
    }
    
}

/* SOLO TABLET */
@media screen and (min-width: 768px) and (max-width: 991px){

    #benefits .col_30, #features .col_30{
        width: calc(100% / 2 - 20px);
    }

}

/* DESKTOP */
@media screen and (min-width: 991px){
    .container{
        max-width: 950px;
    }

    #planning .container{
        width: 925px;
    }

    .col_100{
        width: 100%;
    }

    .extended_menu{
        display: block;
    }

    .hamburger{
        display: none;
    }

    .col_30{
        width: calc(100% / 3 - 20px);
    }

    .col_50{
        width: calc(100% / 2 - 20px);
    }

    .phone{
        padding-right: 30px;
    }

    .col_40{
        width: calc(40% - 20px);
        height: 50%;
    }

    .col_60{
        width: calc(60% - 20px);
    }

    .left_planning img{
        width: 80%;
    }

    h2{
        font-size: 30px;
    }

}

/* LARGE DESKTOP */
@media screen and (min-width: 1200px){

    .container{
        max-width: 1140px;
    }
}

